<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Angular Sample</title>
</head>
        <body>
            @RenderBody()
            @RenderSection("Javascript", false)
        </body>
</html>